<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>

  <h3> You have <%= @guesses %> guesses left!! </h3>
  
  <%= for row <- @board do %>
    <div>
      <%= for {index, bool, letter} <- row do %>
        <span> <%= index %>: <%= if(bool, do: letter, else: "???") %> </span>
      <% end %>
    </div>
  <% end %>

    <%= form_tag("/guess") do %>
    <input name="guessA"/>
    <input name="guessB" />
    <input type="submit" />
  <% end %>
</section>
